# Proyecto de limpieza de datos
Autor: Iñaki Sebastián Orozco García    

Fecha: 24/11/2024

Para este proyecto usaré un dataset de BackBlaze una empresa de servidores que lleva años recabando la información S.M.A.R.T (Métricas estandarizadas de evaluación) de los discos duros de sus equipos con el atributo agregado Failure que indica si ese disco falló al día siguiente, este dataset es en el que he estado trabajando en mi proyecto de tesis para hacer predicciones de fallas con un árbol de decisión y una LSTM. 

Los 3 puntos en los que trabajaré en este proyecto giran en torno a un buen desempeño usando este set de datos en esos dos algoritmos (DT, LSTM)

- Imputación de datos faltantes             <- Elegida 
- Codificación de variables categóricas     <- Elegida
- Transformación de potencia
- Escalamiento                              <- Elegida
- Discretización

Esto es lo que se hará con las columnas del dataframe:

- date: Nada, nos sirve para la LSTM.
- serial_number: Variable categórica.
- model: Variable categórica, se va a dividir dos variables: Empresa y modelo.
- capacity_bytes: Variable categórica.
- failure: Nada.
---------
- datacenter: Eliminarla, no es reelevante para nosotros le sirve a la empresa que comparte el set de datos.
- cluster_id: Eliminarla, no es reelevante para nosotros le sirve a la empresa que comparte el set de datos.
- vault_id: Eliminarla, no es reelevante para nosotros le sirve a la empresa que comparte el set de datos.
- pod_id: Eliminarla, no es reelevante para nosotros le sirve a la empresa que comparte el set de datos.
- pod_slot_num: Eliminarla, no es reelevante para nosotros le sirve a la empresa que comparte el set de datos.
- is_legacy_format: Eliminarla, no es reelevante para nosotros le sirve a la empresa que comparte el set de datos.
--------

y también los smart que son de dos tipos:
- smart_normalized: PENDIENTE
- smart_raw: PENDIENTE

# Procesamiento inicial

### Importar el set de datos en un dataframe de pandas

In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

Como nuestro dataset tiene muchos datos, definiré unas funciones para procesar los datos en chunks eliminando las columnas que no nos interesan sin cargarlas al df.

In [3]:
def process_chunks(file_path):
    chunksize = 10 ** 6
    dtype_dict = {'date': 'str', 'serial_number': 'str', 'model': 'str', 'capacity_bytes': 'int32', 'failure': 'bool', 'datacenter': 'str', 'cluster_id': 'int8', 'vault_id': 'int16', 'pod_id': 'int16', 'pod_slot_num': 'float32', 'is_legacy_format': 'bool', 'smart_1_normalized': 'float64', 'smart_1_raw': 'float64', 'smart_2_normalized': 'float64', 'smart_2_raw': 'float64', 'smart_3_normalized': 'float64', 'smart_3_raw': 'float64', 'smart_4_normalized': 'float64', 'smart_4_raw': 'float64', 'smart_5_normalized': 'float64', 'smart_5_raw': 'float64', 'smart_7_normalized': 'float64', 'smart_7_raw': 'float64', 'smart_8_normalized': 'float64', 'smart_8_raw': 'float64', 'smart_9_normalized': 'float64', 'smart_9_raw': 'float64', 'smart_10_normalized': 'float64', 'smart_10_raw': 'float64', 'smart_11_normalized': 'float64', 'smart_11_raw': 'float64', 'smart_12_normalized': 'float64', 'smart_12_raw': 'float64', 'smart_13_normalized': 'float64', 'smart_13_raw': 'float64', 'smart_15_normalized': 'float64', 'smart_15_raw': 'float64', 'smart_16_normalized': 'float64', 'smart_16_raw': 'float64', 'smart_17_normalized': 'float64', 'smart_17_raw': 'float64', 'smart_18_normalized': 'float64', 'smart_18_raw': 'float64', 'smart_22_normalized': 'float64', 'smart_22_raw': 'float64', 'smart_23_normalized': 'float64', 'smart_23_raw': 'float64', 'smart_24_normalized': 'float64', 'smart_24_raw': 'float64', 'smart_27_normalized': 'float64', 'smart_27_raw': 'float64', 'smart_71_normalized': 'float64', 'smart_71_raw': 'float64', 'smart_82_normalized': 'float64', 'smart_82_raw': 'float64', 'smart_90_normalized': 'float64', 'smart_90_raw': 'float64', 'smart_160_normalized': 'float64', 'smart_160_raw': 'float64', 'smart_161_normalized': 'float64', 'smart_161_raw': 'float64', 'smart_163_normalized': 'float64', 'smart_163_raw': 'float64', 'smart_164_normalized': 'float64', 'smart_164_raw': 'float64', 'smart_165_normalized': 'float64', 'smart_165_raw': 'float64', 'smart_166_normalized': 'float64', 'smart_166_raw': 'float64', 'smart_167_normalized': 'float64', 'smart_167_raw': 'float64', 'smart_168_normalized': 'float64', 'smart_168_raw': 'float64', 'smart_169_normalized': 'float64', 'smart_169_raw': 'float64', 'smart_170_normalized': 'float64', 'smart_170_raw': 'float64', 'smart_171_normalized': 'float64', 'smart_171_raw': 'float64', 'smart_172_normalized': 'float64', 'smart_172_raw': 'float64', 'smart_173_normalized': 'float64', 'smart_173_raw': 'float64', 'smart_174_normalized': 'float64', 'smart_174_raw': 'float64', 'smart_175_normalized': 'float64', 'smart_175_raw': 'float64', 'smart_176_normalized': 'float64', 'smart_176_raw': 'float64', 'smart_177_normalized': 'float64', 'smart_177_raw': 'float64', 'smart_178_normalized': 'float64', 'smart_178_raw': 'float64', 'smart_179_normalized': 'float64', 'smart_179_raw': 'float64', 'smart_180_normalized': 'float64', 'smart_180_raw': 'float64', 'smart_181_normalized': 'float64', 'smart_181_raw': 'float64', 'smart_182_normalized': 'float64', 'smart_182_raw': 'float64', 'smart_183_normalized': 'float64', 'smart_183_raw': 'float64', 'smart_184_normalized': 'float64', 'smart_184_raw': 'float64', 'smart_187_normalized': 'float64', 'smart_187_raw': 'float64', 'smart_188_normalized': 'float64', 'smart_188_raw': 'float64', 'smart_189_normalized': 'float64', 'smart_189_raw': 'float64', 'smart_190_normalized': 'float64', 'smart_190_raw': 'float64', 'smart_191_normalized': 'float64', 'smart_191_raw': 'float64', 'smart_192_normalized': 'float64', 'smart_192_raw': 'float64', 'smart_193_normalized': 'float64', 'smart_193_raw': 'float64', 'smart_194_normalized': 'float64', 'smart_194_raw': 'float64', 'smart_195_normalized': 'float64', 'smart_195_raw': 'float64', 'smart_196_normalized': 'float64', 'smart_196_raw': 'float64', 'smart_197_normalized': 'float64', 'smart_197_raw': 'float64', 'smart_198_normalized': 'float64', 'smart_198_raw': 'float64', 'smart_199_normalized': 'float64', 'smart_199_raw': 'float64', 'smart_200_normalized': 'float64', 'smart_200_raw': 'float64', 'smart_201_normalized': 'float64', 'smart_201_raw': 'float64', 'smart_202_normalized': 'float64', 'smart_202_raw': 'float64', 'smart_206_normalized': 'float64', 'smart_206_raw': 'float64', 'smart_210_normalized': 'float64', 'smart_210_raw': 'float64', 'smart_218_normalized': 'float64', 'smart_218_raw': 'float64', 'smart_220_normalized': 'float64', 'smart_220_raw': 'float64', 'smart_222_normalized': 'float64', 'smart_222_raw': 'float64', 'smart_223_normalized': 'float64', 'smart_223_raw': 'float64', 'smart_224_normalized': 'float64', 'smart_224_raw': 'float64', 'smart_225_normalized': 'float64', 'smart_225_raw': 'float64', 'smart_226_normalized': 'float64', 'smart_226_raw': 'float64', 'smart_230_normalized': 'float64', 'smart_230_raw': 'float64', 'smart_231_normalized': 'float64', 'smart_231_raw': 'float64', 'smart_232_normalized': 'float64', 'smart_232_raw': 'float64', 'smart_233_normalized': 'float64', 'smart_233_raw': 'float64', 'smart_234_normalized': 'float64', 'smart_234_raw': 'float64', 'smart_235_normalized': 'float64', 'smart_235_raw': 'float64', 'smart_240_normalized': 'float64', 'smart_240_raw': 'float64', 'smart_241_normalized': 'float64', 'smart_241_raw': 'float64', 'smart_242_normalized': 'float64', 'smart_242_raw': 'float64', 'smart_244_normalized': 'float64', 'smart_244_raw': 'float64', 'smart_245_normalized': 'float64', 'smart_245_raw': 'float64', 'smart_246_normalized': 'float64', 'smart_246_raw': 'float64', 'smart_247_normalized': 'float64', 'smart_247_raw': 'float64', 'smart_248_normalized': 'float64', 'smart_248_raw': 'float64', 'smart_250_normalized': 'float64', 'smart_250_raw': 'float64', 'smart_251_normalized': 'float64', 'smart_251_raw': 'float64', 'smart_252_normalized': 'float64', 'smart_252_raw': 'float64', 'smart_254_normalized': 'float64', 'smart_254_raw': 'float64', 'smart_255_normalized': 'float64', 'smart_255_raw': 'float64'}
    aggregated_result = pd.DataFrame() 

    for chunk in pd.read_csv(file_path, chunksize=chunksize, dtype=dtype_dict):
        chunk = delete_rows(chunk)
        
        aggregated_result = pd.concat([aggregated_result, chunk])

    return aggregated_result

def delete_rows(df):
    df.head()
    columns_to_delete = ['datacenter', 'cluster_id', 'vault_id', 'pod_id', 'pod_slot_num', 'is_legacy_format']
    smart_allowed = []
    df = df.drop(columns=columns_to_delete)
    return df


def getdata(folder_path):
    df = pd.DataFrame()
    for file_name in os.listdir(folder_path):
        # TODO REMOVE THIS
        if file_name.endswith(".csv") and file_name.startswith("2024-07-0"):
            file_path = os.path.join(folder_path, file_name)
            df = pd.concat([df, process_chunks(file_path)])
            print(file_path, ' done')
    print(df.columns)
    return df

Cargamos los datos en el df sin las columnas innecesarias

In [4]:
folder_path = '../data/external/data_Q3_2024/data_Q3_2024'

df = getdata(folder_path)

../data/external/data_Q3_2024/data_Q3_2024\2024-07-01.csv  done
../data/external/data_Q3_2024/data_Q3_2024\2024-07-02.csv  done
../data/external/data_Q3_2024/data_Q3_2024\2024-07-03.csv  done
../data/external/data_Q3_2024/data_Q3_2024\2024-07-04.csv  done
../data/external/data_Q3_2024/data_Q3_2024\2024-07-05.csv  done
../data/external/data_Q3_2024/data_Q3_2024\2024-07-06.csv  done
../data/external/data_Q3_2024/data_Q3_2024\2024-07-07.csv  done
../data/external/data_Q3_2024/data_Q3_2024\2024-07-08.csv  done
../data/external/data_Q3_2024/data_Q3_2024\2024-07-09.csv  done
Index(['date', 'serial_number', 'model', 'capacity_bytes', 'failure',
       'smart_1_normalized', 'smart_1_raw', 'smart_2_normalized',
       'smart_2_raw', 'smart_3_normalized',
       ...
       'smart_250_normalized', 'smart_250_raw', 'smart_251_normalized',
       'smart_251_raw', 'smart_252_normalized', 'smart_252_raw',
       'smart_254_normalized', 'smart_254_raw', 'smart_255_normalized',
       'smart_255_raw'],
      dtype='object', length=191)

### Analizamos el dataframe

Generamos un varias gráficas de mapas de calor para visualizar el df y los atributos nulos que tiene.

In [5]:
# date, serial_number, model, capacity_bytes, failure
sub_dfs = [df.iloc[:, :5]]

# Smart Attributes
columns_for_each_plot = 25
sub_dfs += [df.iloc[:, i:i+columns_for_each_plot] for i in range(5, df.shape[1], columns_for_each_plot )]

heatmap_dir = '../reports/figures/heat_maps/'
os.makedirs(heatmap_dir, exist_ok=True)

for idx, sub_df in enumerate(sub_dfs):
    print(f"{idx+1}/{len(sub_dfs)}")
    sns.heatmap(sub_df.isnull(), cbar=False)
    plt.tight_layout()  # Adjust the layout to ensure nothing is cut off
    # plt.show()
    plt.savefig(f'../reports/figures/heat_maps/heat_map_{idx+1}.png')
    plt.close()

1/9
2/9
3/9
4/9
5/9
6/9
7/9
8/9
9/9

Ahora eliminaremos las columnas que solo tienen datos faltantes.

In [12]:
nan_columns = df.columns[df.isna().all()].tolist()
print(f"Columns with only NaN values: {nan_columns}")

df.drop(columns=nan_columns, inplace=True)

Columns with only NaN values: ['smart_15_normalized', 'smart_15_raw', 'smart_160_normalized', 'smart_160_raw', 'smart_161_normalized', 'smart_161_raw', 'smart_163_normalized', 'smart_163_raw', 'smart_164_normalized', 'smart_164_raw', 'smart_176_normalized', 'smart_176_raw', 'smart_178_normalized', 'smart_178_raw', 'smart_250_normalized', 'smart_250_raw', 'smart_251_normalized', 'smart_251_raw', 'smart_252_normalized', 'smart_252_raw', 'smart_255_normalized', 'smart_255_raw']

Imprimimos las columnas y los elementos que más aparecen para hacernos una idea de que que haremos con los distintos datos.

In [6]:
for column in df.columns:
    print(f"Column: {column}")
    print(f"Top 3 most occurring elements: {df[column].value_counts().head(3).to_dict().keys()}")
    print(f"Number of NaN values: {df[column].isna().sum()}")
    print("\n")

Column: date
Top 3 most occurring elements: dict_keys(['2024-07-01', '2024-07-04', '2024-07-08'])
Number of NaN values: 0


Column: serial_number
Top 3 most occurring elements: dict_keys(['PL1331LAGXN3AH', '8160A0RSFVKG', '8160A0YNFVKG'])
Number of NaN values: 0


Column: model
Top 3 most occurring elements: dict_keys(['TOSHIBA MG08ACA16TA', 'TOSHIBA MG07ACA14TA', 'ST16000NM001G'])
Number of NaN values: 0


Column: capacity_bytes
Top 3 most occurring elements: dict_keys([-2147483648, 0, -1073741824])
Number of NaN values: 0


Column: failure
Top 3 most occurring elements: dict_keys([False, True])
Number of NaN values: 0


Column: smart_1_normalized
Top 3 most occurring elements: dict_keys([100.0, 83.0, 82.0])
Number of NaN values: 6574


Column: smart_1_raw
Top 3 most occurring elements: dict_keys([0.0, 65536.0, 1.0])
Number of NaN values: 6574


Column: smart_2_normalized
Top 3 most occurring elements: dict_keys([100.0, 132.0, 148.0])
Number of NaN values: 997203


Column: smart_2_raw
Top 3 most occurring elements: dict_keys([0.0, 96.0, 100.0])
Number of NaN values: 997203


Column: smart_3_normalized
Top 3 most occurring elements: dict_keys([100.0, 84.0, 90.0])
Number of NaN values: 30328


Column: smart_3_raw
Top 3 most occurring elements: dict_keys([0.0, 350.0, 352.0])
Number of NaN values: 30328


Column: smart_4_normalized
Top 3 most occurring elements: dict_keys([100.0, 98.0, 99.0])
Number of NaN values: 30328


Column: smart_4_raw
Top 3 most occurring elements: dict_keys([9.0, 8.0, 5.0])
Number of NaN values: 30328


Column: smart_5_normalized
Top 3 most occurring elements: dict_keys([100.0, 99.0, 252.0])
Number of NaN values: 20813


Column: smart_5_raw
Top 3 most occurring elements: dict_keys([0.0, 8.0, 1.0])
Number of NaN values: 20813


Column: smart_7_normalized
Top 3 most occurring elements: dict_keys([100.0, 89.0, 88.0])
Number of NaN values: 30328


Column: smart_7_raw
Top 3 most occurring elements: dict_keys([0.0, 65536.0, 1.0])
Number of NaN values: 30328


Column: smart_8_normalized
Top 3 most occurring elements: dict_keys([100.0, 140.0, 128.0])
Number of NaN values: 997203


Column: smart_8_raw
Top 3 most occurring elements: dict_keys([0.0, 15.0, 18.0])
Number of NaN values: 997203


Column: smart_9_normalized
Top 3 most occurring elements: dict_keys([100.0, 96.0, 98.0])
Number of NaN values: 4023


Column: smart_9_raw
Top 3 most occurring elements: dict_keys([2083.0, 2058.0, 2106.0])
Number of NaN values: 4023


Column: smart_10_normalized
Top 3 most occurring elements: dict_keys([100.0, 252.0, 95.0])
Number of NaN values: 30328


Column: smart_10_raw
Top 3 most occurring elements: dict_keys([0.0, 65536.0, 1.0])
Number of NaN values: 30328


Column: smart_11_normalized
Top 3 most occurring elements: dict_keys([100.0, 99.0, 98.0])
Number of NaN values: 2597935


Column: smart_11_raw
Top 3 most occurring elements: dict_keys([0.0, 172.0, 700.0])
Number of NaN values: 2597935


Column: smart_12_normalized
Top 3 most occurring elements: dict_keys([100.0, 99.0, 83.0])
Number of NaN values: 4023


Column: smart_12_raw
Top 3 most occurring elements: dict_keys([8.0, 9.0, 5.0])
Number of NaN values: 4023


Column: smart_13_normalized
Top 3 most occurring elements: dict_keys([100.0, 130.0])
Number of NaN values: 2599798


Column: smart_13_raw
Top 3 most occurring elements: dict_keys([0.0, 8.0, 81604378623.0])
Number of NaN values: 2599798


Column: smart_15_normalized
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_15_raw
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_16_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2583809


Column: smart_16_raw
Top 3 most occurring elements: dict_keys([508.0, 507.0, 509.0])
Number of NaN values: 2583809


Column: smart_17_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2583809


Column: smart_17_raw
Top 3 most occurring elements: dict_keys([508.0, 507.0, 509.0])
Number of NaN values: 2583809


Column: smart_18_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 1885880


Column: smart_18_raw
Top 3 most occurring elements: dict_keys([0.0])
Number of NaN values: 1885880


Column: smart_22_normalized
Top 3 most occurring elements: dict_keys([100.0, 91.0, 99.0])
Number of NaN values: 1894533


Column: smart_22_raw
Top 3 most occurring elements: dict_keys([100.0, 6553700.0, 91.0])
Number of NaN values: 1894533


Column: smart_23_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 1803771


Column: smart_23_raw
Top 3 most occurring elements: dict_keys([0.0])
Number of NaN values: 1803771


Column: smart_24_normalized
Top 3 most occurring elements: dict_keys([100.0, 93.0, 94.0])
Number of NaN values: 1803771


Column: smart_24_raw
Top 3 most occurring elements: dict_keys([0.0])
Number of NaN values: 1803771


Column: smart_27_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2600581


Column: smart_27_raw
Top 3 most occurring elements: dict_keys([199968.0, 788507.0, 788508.0])
Number of NaN values: 2600581


Column: smart_71_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2482340


Column: smart_71_raw
Top 3 most occurring elements: dict_keys([0.0])
Number of NaN values: 2482340


Column: smart_82_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2600545


Column: smart_82_raw
Top 3 most occurring elements: dict_keys([255.0])
Number of NaN values: 2600545


Column: smart_90_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2482340


Column: smart_90_raw
Top 3 most occurring elements: dict_keys([541165879296.0, 536870912000.0, 528280977408.0])
Number of NaN values: 2482340


Column: smart_160_normalized
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_160_raw
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_161_normalized
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_161_raw
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_163_normalized
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_163_raw
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_164_normalized
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_164_raw
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_165_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2598048


Column: smart_165_raw
Top 3 most occurring elements: dict_keys([1199289873865.0, 12429826657126.0, 812148331948.0])
Number of NaN values: 2598048


Column: smart_166_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2598048


Column: smart_166_raw
Top 3 most occurring elements: dict_keys([1.0, 34.0, 106.0])
Number of NaN values: 2598048


Column: smart_167_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2598048


Column: smart_167_raw
Top 3 most occurring elements: dict_keys([14.0, 15.0, 12.0])
Number of NaN values: 2598048


Column: smart_168_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2581258


Column: smart_168_raw
Top 3 most occurring elements: dict_keys([0.0, 1.0, 203.0])
Number of NaN values: 2581258


Column: smart_169_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2598048


Column: smart_169_raw
Top 3 most occurring elements: dict_keys([77.0, 62.0, 46.0])
Number of NaN values: 2598048


Column: smart_170_normalized
Top 3 most occurring elements: dict_keys([100.0, 98.0, 99.0])
Number of NaN values: 2581213


Column: smart_170_raw
Top 3 most occurring elements: dict_keys([0.0, 101.0, 103.0])
Number of NaN values: 2581213


Column: smart_171_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2591876


Column: smart_171_raw
Top 3 most occurring elements: dict_keys([0.0, 2.0])
Number of NaN values: 2591876


Column: smart_172_normalized
Top 3 most occurring elements: dict_keys([100.0, 95.0, 94.0])
Number of NaN values: 2591876


Column: smart_172_raw
Top 3 most occurring elements: dict_keys([0.0, 6.0, 10.0])
Number of NaN values: 2591876


Column: smart_173_normalized
Top 3 most occurring elements: dict_keys([100.0, 19.0, 84.0])
Number of NaN values: 2575086


Column: smart_173_raw
Top 3 most occurring elements: dict_keys([146.0, 145.0, 147.0])
Number of NaN values: 2575086


Column: smart_174_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2575086


Column: smart_174_raw
Top 3 most occurring elements: dict_keys([0.0, 1.0, 2.0])
Number of NaN values: 2575086


Column: smart_175_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2600590


Column: smart_175_raw
Top 3 most occurring elements: dict_keys([47.0])
Number of NaN values: 2600590


Column: smart_176_normalized
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_176_raw
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_177_normalized
Top 3 most occurring elements: dict_keys([100.0, 0.0])
Number of NaN values: 2583809


Column: smart_177_raw
Top 3 most occurring elements: dict_keys([6.0, 10.0, 3.0])
Number of NaN values: 2583809


Column: smart_178_normalized
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_178_raw
Top 3 most occurring elements: dict_keys([])
Number of NaN values: 2600599


Column: smart_179_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2599798


Column: smart_179_raw
Top 3 most occurring elements: dict_keys([0.0, 1.0, 2.0])
Number of NaN values: 2599798


Column: smart_180_normalized
Top 3 most occurring elements: dict_keys([0.0, 100.0])
Number of NaN values: 2593635


Column: smart_180_raw
Top 3 most occurring elements: dict_keys([4652.0, 40.0, 46.0])
Number of NaN values: 2593635


Column: smart_181_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2599798


Column: smart_181_raw
Top 3 most occurring elements: dict_keys([0.0, 2.0])
Number of NaN values: 2599798


Column: smart_182_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2599798


Column: smart_182_raw
Top 3 most occurring elements: dict_keys([0.0])
Number of NaN values: 2599798


Column: smart_183_normalized
Top 3 most occurring elements: dict_keys([100.0, 98.0, 97.0])
Number of NaN values: 2571200


Column: smart_183_raw
Top 3 most occurring elements: dict_keys([0.0, 2.0, 3.0])
Number of NaN values: 2571200


Column: smart_184_normalized
Top 3 most occurring elements: dict_keys([100.0, 97.0])
Number of NaN values: 2350224


Column: smart_184_raw
Top 3 most occurring elements: dict_keys([0.0, 1.0, 3.0])
Number of NaN values: 2350224


Column: smart_187_normalized
Top 3 most occurring elements: dict_keys([100.0, 97.0, 99.0])
Number of NaN values: 1626153


Column: smart_187_raw
Top 3 most occurring elements: dict_keys([0.0, 3.0, 1.0])
Number of NaN values: 1626153


Column: smart_188_normalized
Top 3 most occurring elements: dict_keys([100.0, 1.0, 99.0])
Number of NaN values: 1631713


Column: smart_188_raw
Top 3 most occurring elements: dict_keys([0.0, 4295032833.0, 1.0])
Number of NaN values: 1631713


Column: smart_189_normalized
Top 3 most occurring elements: dict_keys([100.0, 1.0, 96.0])
Number of NaN values: 2359514


Column: smart_189_raw
Top 3 most occurring elements: dict_keys([0.0, 4.0, 11.0])
Number of NaN values: 2359514


Column: smart_190_normalized
Top 3 most occurring elements: dict_keys([64.0, 71.0, 70.0])
Number of NaN values: 1634867


Column: smart_190_raw
Top 3 most occurring elements: dict_keys([36.0, 29.0, 30.0])
Number of NaN values: 1634867


Column: smart_191_normalized
Top 3 most occurring elements: dict_keys([100.0, 93.0, 94.0])
Number of NaN values: 1610259


Column: smart_191_raw
Top 3 most occurring elements: dict_keys([0.0, 1.0, 2.0])
Number of NaN values: 1610259


Column: smart_192_normalized
Top 3 most occurring elements: dict_keys([100.0, 99.0, 98.0])
Number of NaN values: 13538


Column: smart_192_raw
Top 3 most occurring elements: dict_keys([0.0, 1.0, 2.0])
Number of NaN values: 13538


Column: smart_193_normalized
Top 3 most occurring elements: dict_keys([100.0, 99.0, 98.0])
Number of NaN values: 31849


Column: smart_193_raw
Top 3 most occurring elements: dict_keys([20.0, 19.0, 21.0])
Number of NaN values: 31849


Column: smart_194_normalized
Top 3 most occurring elements: dict_keys([100.0, 36.0, 29.0])
Number of NaN values: 4023


Column: smart_194_raw
Top 3 most occurring elements: dict_keys([36.0, 34.0, 35.0])
Number of NaN values: 4023


Column: smart_195_normalized
Top 3 most occurring elements: dict_keys([1.0, 2.0, 83.0])
Number of NaN values: 2183835


Column: smart_195_raw
Top 3 most occurring elements: dict_keys([0.0, 108600680.0, 117576080.0])
Number of NaN values: 2183835


Column: smart_196_normalized
Top 3 most occurring elements: dict_keys([100.0, 252.0, 200.0])
Number of NaN values: 989897


Column: smart_196_raw
Top 3 most occurring elements: dict_keys([0.0, 1.0, 2.0])
Number of NaN values: 989897


Column: smart_197_normalized
Top 3 most occurring elements: dict_keys([100.0, 252.0, 200.0])
Number of NaN values: 77371


Column: smart_197_raw
Top 3 most occurring elements: dict_keys([0.0, 8.0, 1.0])
Number of NaN values: 77371


Column: smart_198_normalized
Top 3 most occurring elements: dict_keys([100.0, 252.0, 99.0])
Number of NaN values: 23364


Column: smart_198_raw
Top 3 most occurring elements: dict_keys([0.0, 8.0, 1.0])
Number of NaN values: 23364


Column: smart_199_normalized
Top 3 most occurring elements: dict_keys([200.0, 100.0])
Number of NaN values: 20813


Column: smart_199_raw
Top 3 most occurring elements: dict_keys([0.0, 1.0, 2.0])
Number of NaN values: 20813


Column: smart_200_normalized
Top 3 most occurring elements: dict_keys([100.0, 61.0, 57.0])
Number of NaN values: 1865854


Column: smart_200_raw
Top 3 most occurring elements: dict_keys([0.0, 822702.0, 533839.0])
Number of NaN values: 1865854


Column: smart_201_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2599798


Column: smart_201_raw
Top 3 most occurring elements: dict_keys([0.0, 12884838662.0])
Number of NaN values: 2599798


Column: smart_202_normalized
Top 3 most occurring elements: dict_keys([91.0, 92.0, 93.0])
Number of NaN values: 2593635


Column: smart_202_raw
Top 3 most occurring elements: dict_keys([81.0, 16.0, 80.0])
Number of NaN values: 2593635


Column: smart_206_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2594436


Column: smart_206_raw
Top 3 most occurring elements: dict_keys([0.0, 2.0])
Number of NaN values: 2594436


Column: smart_210_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2594436


Column: smart_210_raw
Top 3 most occurring elements: dict_keys([0.0])
Number of NaN values: 2594436


Column: smart_211_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2600563


Column: smart_211_raw
Top 3 most occurring elements: dict_keys([55.0, 108.0, 107.0])
Number of NaN values: 2600563


Column: smart_212_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2600563


Column: smart_212_raw
Top 3 most occurring elements: dict_keys([0.0, 2.0])
Number of NaN values: 2600563


Column: smart_218_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2583809


Column: smart_218_raw
Top 3 most occurring elements: dict_keys([0.0, 1.0, 3.0])
Number of NaN values: 2583809


Column: smart_220_normalized
Top 3 most occurring elements: dict_keys([100.0, 1.0])
Number of NaN values: 1853270


Column: smart_220_raw
Top 3 most occurring elements: dict_keys([0.0, 2228225.0, 2097153.0])
Number of NaN values: 1853270


Column: smart_222_normalized
Top 3 most occurring elements: dict_keys([1.0, 64.0, 15.0])
Number of NaN values: 1853270


Column: smart_222_raw
Top 3 most occurring elements: dict_keys([14051.0, 14050.0, 14081.0])
Number of NaN values: 1853270


Column: smart_223_normalized
Top 3 most occurring elements: dict_keys([100.0, 99.0, 98.0])
Number of NaN values: 1801405


Column: smart_223_raw
Top 3 most occurring elements: dict_keys([0.0, 65536.0, 1.0])
Number of NaN values: 1801405


Column: smart_224_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 1853288


Column: smart_224_raw
Top 3 most occurring elements: dict_keys([0.0])
Number of NaN values: 1853288


Column: smart_225_normalized
Top 3 most occurring elements: dict_keys([1.0, 93.0, 94.0])
Number of NaN values: 2599078


Column: smart_225_raw
Top 3 most occurring elements: dict_keys([982442.0, 172819.0, 89157.0])
Number of NaN values: 2599078


Column: smart_226_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 1853270


Column: smart_226_raw
Top 3 most occurring elements: dict_keys([592.0, 591.0, 593.0])
Number of NaN values: 1853270


Column: smart_230_normalized
Top 3 most occurring elements: dict_keys([100.0, 18.0, 7.0])
Number of NaN values: 2598048


Column: smart_230_raw
Top 3 most occurring elements: dict_keys([0.0, 20933910074122.0, 20925320139528.0])
Number of NaN values: 2598048


Column: smart_231_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2583809


Column: smart_231_raw
Top 3 most occurring elements: dict_keys([0.0, 109951162777600.0, 89.0])
Number of NaN values: 2583809


Column: smart_232_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2581258


Column: smart_232_raw
Top 3 most occurring elements: dict_keys([0.0, 476741369856.0, 100.0])
Number of NaN values: 2581258


Column: smart_233_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2580457


Column: smart_233_raw
Top 3 most occurring elements: dict_keys([238.0, 269.0, 237.0])
Number of NaN values: 2580457


Column: smart_234_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2593369


Column: smart_234_raw
Top 3 most occurring elements: dict_keys([0.0, 32531.0, 54171.0])
Number of NaN values: 2593369


Column: smart_235_normalized
Top 3 most occurring elements: dict_keys([100.0])
Number of NaN values: 2583800


Column: smart_235_raw
Top 3 most occurring elements: dict_keys([281774051776.0, 469979131680.0, 99574196864.0])
Number of NaN values: 2583800


Column: smart_240_normalized
Top 3 most occurring elements: dict_keys([100.0, 48.0, 49.0])
Number of NaN values: 887286


Column: smart_240_raw
Top 3 most occurring elements: dict_keys([0.0, 2078.0, 2030.0])
Number of NaN values: 887286


Column: smart_241_normalized
Top 3 most occurring elements: dict_keys([100.0, 253.0, 200.0])
Number of NaN values: 1510854


Column: smart_241_raw
Top 3 most occurring elements: dict_keys([0.0, 108488966616.0, 107313115752.0])
Number of NaN values: 1510854


Column: smart_242_normalized
Top 3 most occurring elements: dict_keys([100.0, 253.0, 200.0])
Number of NaN values: 1510854


Column: smart_242_raw
Top 3 most occurring elements: dict_keys([551947408200.0, 530142667024.0, 523575910032.0])
Number of NaN values: 1510854


Column: smart_244_normalized
Top 3 most occurring elements: dict_keys([0.0, 100.0])
Number of NaN values: 2598048


Column: smart_244_raw
Top 3 most occurring elements: dict_keys([0.0])
Number of NaN values: 2598048


Column: smart_245_normalized

Podemos ver que las columnas con variables categóricas no tienen variables faltantes, vamos a trabajar solo reemplazando datos faltantes con las variables numéricas que pertenecen a los atributos S.M.A.R.T, hay normalizadas y crudas.

In [7]:
for column in df.columns:
    nan_count = df[column].isna().sum()
    if nan_count > 0:
        print(f"Column: {column}, NaN values: {nan_count}")

Column: smart_1_normalized, NaN values: 6574
Column: smart_1_raw, NaN values: 6574
Column: smart_2_normalized, NaN values: 997203
Column: smart_2_raw, NaN values: 997203
Column: smart_3_normalized, NaN values: 30328
Column: smart_3_raw, NaN values: 30328
Column: smart_4_normalized, NaN values: 30328
Column: smart_4_raw, NaN values: 30328
Column: smart_5_normalized, NaN values: 20813
Column: smart_5_raw, NaN values: 20813
Column: smart_7_normalized, NaN values: 30328
Column: smart_7_raw, NaN values: 30328
Column: smart_8_normalized, NaN values: 997203
Column: smart_8_raw, NaN values: 997203
Column: smart_9_normalized, NaN values: 4023
Column: smart_9_raw, NaN values: 4023
Column: smart_10_normalized, NaN values: 30328
Column: smart_10_raw, NaN values: 30328
Column: smart_11_normalized, NaN values: 2597935
Column: smart_11_raw, NaN values: 2597935
Column: smart_12_normalized, NaN values: 4023
Column: smart_12_raw, NaN values: 4023
Column: smart_13_normalized, NaN values: 2599798
Column: smart_13_raw, NaN values: 2599798
Column: smart_15_normalized, NaN values: 2600599
Column: smart_15_raw, NaN values: 2600599
Column: smart_16_normalized, NaN values: 2583809
Column: smart_16_raw, NaN values: 2583809
Column: smart_17_normalized, NaN values: 2583809
Column: smart_17_raw, NaN values: 2583809
Column: smart_18_normalized, NaN values: 1885880
Column: smart_18_raw, NaN values: 1885880
Column: smart_22_normalized, NaN values: 1894533
Column: smart_22_raw, NaN values: 1894533
Column: smart_23_normalized, NaN values: 1803771
Column: smart_23_raw, NaN values: 1803771
Column: smart_24_normalized, NaN values: 1803771
Column: smart_24_raw, NaN values: 1803771
Column: smart_27_normalized, NaN values: 2600581
Column: smart_27_raw, NaN values: 2600581
Column: smart_71_normalized, NaN values: 2482340
Column: smart_71_raw, NaN values: 2482340
Column: smart_82_normalized, NaN values: 2600545
Column: smart_82_raw, NaN values: 2600545
Column: smart_90_normalized, NaN values: 2482340
Column: smart_90_raw, NaN values: 2482340
Column: smart_160_normalized, NaN values: 2600599
Column: smart_160_raw, NaN values: 2600599
Column: smart_161_normalized, NaN values: 2600599
Column: smart_161_raw, NaN values: 2600599
Column: smart_163_normalized, NaN values: 2600599
Column: smart_163_raw, NaN values: 2600599
Column: smart_164_normalized, NaN values: 2600599
Column: smart_164_raw, NaN values: 2600599
Column: smart_165_normalized, NaN values: 2598048
Column: smart_165_raw, NaN values: 2598048
Column: smart_166_normalized, NaN values: 2598048
Column: smart_166_raw, NaN values: 2598048
Column: smart_167_normalized, NaN values: 2598048
Column: smart_167_raw, NaN values: 2598048
Column: smart_168_normalized, NaN values: 2581258
Column: smart_168_raw, NaN values: 2581258
Column: smart_169_normalized, NaN values: 2598048
Column: smart_169_raw, NaN values: 2598048
Column: smart_170_normalized, NaN values: 2581213
Column: smart_170_raw, NaN values: 2581213
Column: smart_171_normalized, NaN values: 2591876
Column: smart_171_raw, NaN values: 2591876
Column: smart_172_normalized, NaN values: 2591876
Column: smart_172_raw, NaN values: 2591876
Column: smart_173_normalized, NaN values: 2575086
Column: smart_173_raw, NaN values: 2575086
Column: smart_174_normalized, NaN values: 2575086
Column: smart_174_raw, NaN values: 2575086
Column: smart_175_normalized, NaN values: 2600590
Column: smart_175_raw, NaN values: 2600590
Column: smart_176_normalized, NaN values: 2600599
Column: smart_176_raw, NaN values: 2600599
Column: smart_177_normalized, NaN values: 2583809
Column: smart_177_raw, NaN values: 2583809
Column: smart_178_normalized, NaN values: 2600599
Column: smart_178_raw, NaN values: 2600599
Column: smart_179_normalized, NaN values: 2599798
Column: smart_179_raw, NaN values: 2599798
Column: smart_180_normalized, NaN values: 2593635
Column: smart_180_raw, NaN values: 2593635
Column: smart_181_normalized, NaN values: 2599798
Column: smart_181_raw, NaN values: 2599798
Column: smart_182_normalized, NaN values: 2599798
Column: smart_182_raw, NaN values: 2599798
Column: smart_183_normalized, NaN values: 2571200
Column: smart_183_raw, NaN values: 2571200
Column: smart_184_normalized, NaN values: 2350224
Column: smart_184_raw, NaN values: 2350224
Column: smart_187_normalized, NaN values: 1626153
Column: smart_187_raw, NaN values: 1626153
Column: smart_188_normalized, NaN values: 1631713
Column: smart_188_raw, NaN values: 1631713
Column: smart_189_normalized, NaN values: 2359514
Column: smart_189_raw, NaN values: 2359514
Column: smart_190_normalized, NaN values: 1634867
Column: smart_190_raw, NaN values: 1634867
Column: smart_191_normalized, NaN values: 1610259
Column: smart_191_raw, NaN values: 1610259
Column: smart_192_normalized, NaN values: 13538
Column: smart_192_raw, NaN values: 13538
Column: smart_193_normalized, NaN values: 31849
Column: smart_193_raw, NaN values: 31849
Column: smart_194_normalized, NaN values: 4023
Column: smart_194_raw, NaN values: 4023
Column: smart_195_normalized, NaN values: 2183835
Column: smart_195_raw, NaN values: 2183835
Column: smart_196_normalized, NaN values: 989897
Column: smart_196_raw, NaN values: 989897
Column: smart_197_normalized, NaN values: 77371
Column: smart_197_raw, NaN values: 77371
Column: smart_198_normalized, NaN values: 23364
Column: smart_198_raw, NaN values: 23364
Column: smart_199_normalized, NaN values: 20813
Column: smart_199_raw, NaN values: 20813
Column: smart_200_normalized, NaN values: 1865854
Column: smart_200_raw, NaN values: 1865854
Column: smart_201_normalized, NaN values: 2599798
Column: smart_201_raw, NaN values: 2599798
Column: smart_202_normalized, NaN values: 2593635
Column: smart_202_raw, NaN values: 2593635
Column: smart_206_normalized, NaN values: 2594436
Column: smart_206_raw, NaN values: 2594436
Column: smart_210_normalized, NaN values: 2594436
Column: smart_210_raw, NaN values: 2594436
Column: smart_211_normalized, NaN values: 2600563
Column: smart_211_raw, NaN values: 2600563
Column: smart_212_normalized, NaN values: 2600563
Column: smart_212_raw, NaN values: 2600563
Column: smart_218_normalized, NaN values: 2583809
Column: smart_218_raw, NaN values: 2583809
Column: smart_220_normalized, NaN values: 1853270
Column: smart_220_raw, NaN values: 1853270
Column: smart_222_normalized, NaN values: 1853270
Column: smart_222_raw, NaN values: 1853270
Column: smart_223_normalized, NaN values: 1801405
Column: smart_223_raw, NaN values: 1801405
Column: smart_224_normalized, NaN values: 1853288
Column: smart_224_raw, NaN values: 1853288
Column: smart_225_normalized, NaN values: 2599078
Column: smart_225_raw, NaN values: 2599078
Column: smart_226_normalized, NaN values: 1853270
Column: smart_226_raw, NaN values: 1853270
Column: smart_230_normalized, NaN values: 2598048
Column: smart_230_raw, NaN values: 2598048
Column: smart_231_normalized, NaN values: 2583809
Column: smart_231_raw, NaN values: 2583809
Column: smart_232_normalized, NaN values: 2581258
Column: smart_232_raw, NaN values: 2581258
Column: smart_233_normalized, NaN values: 2580457
Column: smart_233_raw, NaN values: 2580457
Column: smart_234_normalized, NaN values: 2593369
Column: smart_234_raw, NaN values: 2593369
Column: smart_235_normalized, NaN values: 2583800
Column: smart_235_raw, NaN values: 2583800
Column: smart_240_normalized, NaN values: 887286
Column: smart_240_raw, NaN values: 887286
Column: smart_241_normalized, NaN values: 1510854
Column: smart_241_raw, NaN values: 1510854
Column: smart_242_normalized, NaN values: 1510854
Column: smart_242_raw, NaN values: 1510854
Column: smart_244_normalized, NaN values: 2598048
Column: smart_244_raw, NaN values: 2598048
Column: smart_245_normalized, NaN values: 2599798
Column: smart_245_raw, NaN values: 2599798
Column: smart_246_normalized, NaN values: 2594436
Column: smart_246_raw, NaN values: 2594436
Column: smart_247_normalized, NaN values: 2594436
Column: smart_247_raw, NaN values: 2594436
Column: smart_248_normalized, NaN values: 2594436
Column: smart_248_raw, NaN values: 2594436
Column: smart_250_normalized, NaN values: 2600599
Column: smart_250_raw, NaN values: 2600599
Column: smart_251_normalized, NaN values: 2600599
Column: smart_251_raw, NaN values: 2600599
Column: smart_252_normalized, NaN values: 2600599
Column: smart_252_raw, NaN values: 2600599
Column: smart_254_normalized, NaN values: 2598611
Column: smart_254_raw, NaN values: 2598611
Column: smart_255_normalized, NaN values: 2600599
Column: smart_255_raw, NaN values: 2600599

# Imputación de datos faltantes
----------
[Tratamiento de datos faltantes](D:/Downloads/Tratamiento_de_datos_faltantes_PDF.pdf)

La moda se usa para imputar predictores cualitativos (Variables categóricas) y el promedio o la mediana se usa para imputar predictores
cuantitativos (Variables numéricas).

### Procesamiento de variables categóricas

Variables categóricas con elementos NaN del dataset: ninguna

In [8]:
nan_counts = df.iloc[:, :5].isna().sum()
print(nan_counts)

date              0
serial_number     0
model             0
capacity_bytes    0
failure           0
dtype: int64

### Variables numéricas
Evaluamos la distribución:

In [9]:
output_dir = '../reports/figures/histogramas/'
os.makedirs(output_dir, exist_ok=True)

# Crear histogramas para las columnas 6 en adelante
for column in df.columns[6:]:
    plt.figure(figsize=(10, 6))
    df[column].dropna().hist(bins=50)
    plt.title(f'Histograma de {column}')
    plt.xlabel(column)
    plt.ylabel('Frecuencia')
    plt.savefig(f'{output_dir}{column}_histograma.png')
    plt.close()

#### Analizamos en búsqueda de datos atípicos:

Con el IQR vemos que columnas tienen anomalías y las guardamos en un diccionario

In [ ]:
# Calcular el rango intercuartílico (IQR) para las columnas 6 en adelante
iqr_values = {}
outliers_dict = {}
for column in df.columns[6:]:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    iqr_values[column] = IQR
    outliers = df[(df[column] < (Q1 - 1.5 * IQR)) | (df[column] > (Q3 + 1.5 * IQR))]
    print(f"Outliers in column {column}: {outliers.shape[0]}")
    if not outliers.empty:
        outliers_dict[column] = outliers

Outliers in column smart_1_raw: 177159
Outliers in column smart_2_normalized: 12313
Outliers in column smart_2_raw: 68
Outliers in column smart_3_normalized: 167137
Outliers in column smart_3_raw: 0
Outliers in column smart_4_normalized: 2249
Outliers in column smart_4_raw: 150874
Outliers in column smart_5_normalized: 9266
Outliers in column smart_5_raw: 98674
Outliers in column smart_7_normalized: 15583
Outliers in column smart_7_raw: 150438
Outliers in column smart_8_normalized: 1530
Outliers in column smart_8_raw: 94887
Outliers in column smart_9_normalized: 0
Outliers in column smart_9_raw: 63612
Outliers in column smart_10_normalized: 1710
Outliers in column smart_10_raw: 99
Outliers in column smart_11_normalized: 288
Outliers in column smart_11_raw: 252
Outliers in column smart_12_normalized: 1494
Outliers in column smart_12_raw: 148062
Outliers in column smart_13_normalized: 9
Outliers in column smart_13_raw: 45
Outliers in column smart_16_normalized: 0
Outliers in column smart_16_raw: 3311
Outliers in column smart_17_normalized: 0
Outliers in column smart_17_raw: 3311
Outliers in column smart_18_normalized: 0
Outliers in column smart_18_raw: 0
Outliers in column smart_22_normalized: 556
Outliers in column smart_22_raw: 123987
Outliers in column smart_23_normalized: 0
Outliers in column smart_23_raw: 0
Outliers in column smart_24_normalized: 65
Outliers in column smart_24_raw: 0
Outliers in column smart_27_normalized: 0
Outliers in column smart_27_raw: 0
Outliers in column smart_71_normalized: 0
Outliers in column smart_71_raw: 0
Outliers in column smart_82_normalized: 0
Outliers in column smart_82_raw: 0
Outliers in column smart_90_normalized: 0
Outliers in column smart_90_raw: 6553
Outliers in column smart_165_normalized: 0
Outliers in column smart_165_raw: 144
Outliers in column smart_166_normalized: 0
Outliers in column smart_166_raw: 135
Outliers in column smart_167_normalized: 0
Outliers in column smart_167_raw: 108
Outliers in column smart_168_normalized: 0
Outliers in column smart_168_raw: 2785
Outliers in column smart_169_normalized: 0
Outliers in column smart_169_raw: 99
Outliers in column smart_170_normalized: 217
Outliers in column smart_170_raw: 5025
Outliers in column smart_171_normalized: 0
Outliers in column smart_171_raw: 9
Outliers in column smart_172_normalized: 18
Outliers in column smart_172_raw: 27
Outliers in column smart_173_normalized: 6124
Outliers in column smart_173_raw: 117
Outliers in column smart_174_normalized: 0
Outliers in column smart_174_raw: 1520
Outliers in column smart_175_normalized: 0
Outliers in column smart_175_raw: 0
Outliers in column smart_177_normalized: 0
Outliers in column smart_177_raw: 0
Outliers in column smart_179_normalized: 0
Outliers in column smart_179_raw: 45
Outliers in column smart_180_normalized: 45
Outliers in column smart_180_raw: 972
Outliers in column smart_181_normalized: 0
Outliers in column smart_181_raw: 18
Outliers in column smart_182_normalized: 0
Outliers in column smart_182_raw: 0
Outliers in column smart_183_normalized: 3340
Outliers in column smart_183_raw: 3340
Outliers in column smart_184_normalized: 9
Outliers in column smart_184_raw: 36
Outliers in column smart_187_normalized: 36546
Outliers in column smart_187_raw: 36555
Outliers in column smart_188_normalized: 16
Outliers in column smart_188_raw: 53563
Outliers in column smart_189_normalized: 9711
Outliers in column smart_189_raw: 9711
Outliers in column smart_190_normalized: 17
Outliers in column smart_190_raw: 17
Outliers in column smart_191_normalized: 202926
Outliers in column smart_191_raw: 233831
Outliers in column smart_192_normalized: 169015
Outliers in column smart_192_raw: 305369
Outliers in column smart_193_normalized: 290255
Outliers in column smart_193_raw: 322940
Outliers in column smart_194_normalized: 86689
Outliers in column smart_194_raw: 339
Outliers in column smart_195_normalized: 0
Outliers in column smart_195_raw: 0
Outliers in column smart_196_normalized: 3018
Outliers in column smart_196_raw: 31068
Outliers in column smart_197_normalized: 3234
Outliers in column smart_197_raw: 34143
Outliers in column smart_198_normalized: 2271
Outliers in column smart_198_raw: 23795
Outliers in column smart_199_normalized: 469168
Outliers in column smart_199_raw: 34947
Outliers in column smart_200_normalized: 9
Outliers in column smart_200_raw: 1521
Outliers in column smart_201_normalized: 0
Outliers in column smart_201_raw: 9
Outliers in column smart_202_normalized: 1409
Outliers in column smart_202_raw: 837
Outliers in column smart_206_normalized: 0
Outliers in column smart_206_raw: 9
Outliers in column smart_210_normalized: 0
Outliers in column smart_210_raw: 0
Outliers in column smart_211_normalized: 0
Outliers in column smart_211_raw: 0
Outliers in column smart_212_normalized: 0
Outliers in column smart_212_raw: 9
Outliers in column smart_218_normalized: 0
Outliers in column smart_218_raw: 234
Outliers in column smart_220_normalized: 2561
Outliers in column smart_220_raw: 0
Outliers in column smart_222_normalized: 0
Outliers in column smart_222_raw: 531
Outliers in column smart_223_normalized: 957
Outliers in column smart_223_raw: 1659
Outliers in column smart_224_normalized: 0
Outliers in column smart_224_raw: 0
Outliers in column smart_225_normalized: 0
Outliers in column smart_225_raw: 144
Outliers in column smart_226_normalized: 0
Outliers in column smart_226_raw: 3655
Outliers in column smart_230_normalized: 0
Outliers in column smart_230_raw: 144
Outliers in column smart_231_normalized: 0
Outliers in column smart_231_raw: 0
Outliers in column smart_232_normalized: 0
Outliers in column smart_232_raw: 0
Outliers in column smart_233_normalized: 0
Outliers in column smart_233_raw: 936
Outliers in column smart_234_normalized: 0
Outliers in column smart_234_raw: 0
Outliers in column smart_235_normalized: 0
Outliers in column smart_235_raw: 216
Outliers in column smart_240_normalized: 522
Outliers in column smart_240_raw: 80
Outliers in column smart_241_normalized: 2614
Outliers in column smart_241_raw: 164144
Outliers in column smart_242_normalized: 2614
Outliers in column smart_242_raw: 26264
Outliers in column smart_244_normalized: 0
Outliers in column smart_244_raw: 0
Outliers in column smart_245_normalized: 144
Outliers in column smart_245_raw: 144
Outliers in column smart_246_normalized: 0
Outliers in column smart_246_raw: 45
Outliers in column smart_247_normalized: 0
Outliers in column smart_247_raw: 288
Outliers in column smart_248_normalized: 0
Outliers in column smart_248_raw: 531
Outliers in column smart_254_normalized: 63
Outliers in column smart_254_raw: 0
101

Analizamos en búsqueda de valores extremos:

# Codificación de variables categóricas
-------------
[Codificación de variables categóricas](D:/Downloads/codificacion_var_categoricas.pdf)

Variables que convertiremos a una variable categórica:

# Escalamiento